.page-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.page-header__logo {
  height: auto;
  text-align: left;
}

.page-header__logo-image {
  height: 65px;
  width: 190px;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
  }

  &--down {
    opacity: 0.6;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.6;
      cursor: auto;
    }
  }
}

.page-header__nav {
  .list-style;
}

@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    width: 190px;
    height: auto;
  }

  .page-header__logo-image {
    display: block;
    width: 175px;
    height: auto;
    margin-top: 10px;
  }

  .page-header__nav {
    width: 515px;
  }
}

@media (min-width: 1300px) {
  .page-header {
    margin-bottom: 45px;
  }

  .page-header__logo {
    height: auto;
    max-width: 245px;
  }

  .page-header__logo-image {
    display: block;
    width: 210px;
    height: auto;
    margin-top: 35px;
  }

  .page-header__nav {
    width: 895px;
  }
}
