.page-main__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: left;
}

.page-main__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: left;
}
