.dietary-plan {
  margin-bottom: 30px;
}

.dietary-plan__list {
  .list-style;
}

.dietary-plan__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.dietary-plan__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400px;
  text-transform: uppercase;
}

.dietary-plan__description {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.dietary-plan__link {
  .link-style;
  color: #111111;
  font-size: 16px;
  line-height: 16px;
}
