.features {
  margin-bottom: 40px;
}

.features__title {
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 35px;
}

.features__list {
  .list-style;
}

.features__item {
  padding-top: 5px;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}
