.promo {
  background: #63a73a url("../img/index-background-mobile@1x.jpg") no-repeat top;
  margin-bottom: 20px;
}

.promo__title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.promo__tag-line {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}
