.site-list__item {
  .list-style;
  margin-top: 25px;
  margin-bottom: 25px;

  font-size: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
}

.site-list__link {
  .link-style;
  color: #111111;
}


