@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@import "scaffolding.less";
@import "container.less";
@import "mixins.less";
@import "button";
@import "page-header.less";
@import "main-nav.less";
@import "site-list.less";
@import "promo";
@import "dietary-plan";
@import "features";
@import "page-footer";
@import "social";
@import "copyright";
@import "page-main";
@import "catalogue";
